<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
  <style>
    *{
        margin: 0px;
        padding: 0px;
    }
    body{
        height: 100%;
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20%;
        
    }
    .container{
        height: 10rem;
        width: 20rem;
        
    }
    .card-body{
        box-shadow: 0px 0px 20px 0px #aaa;
    }
  </style>
</head>
<body >
  <!-- Replace "test" with your own sandbox Business account app client ID -->
  <script src="https://www.paypal.com/sdk/js?client-id=test&currency=USD"></script>
  <h1 class="mb-5"> Please Pay Rs {{pay}}</h1>
  <!-- Set up a container element for the button -->
 <div class="container ">
    
    <div class="card" style="width: 18rem;">
        <div class="card-body ">
          
            <div id="paypal-button-container"></div>
        </div>
      </div>
 </div>
 
  <script>
    paypal.Buttons({
      // Sets up the transaction when a payment button is clicked
      createOrder: (data, actions) => {
        return actions.order.create({
          purchase_units: [{
            amount: {
              value: {{pay}} // Can also reference a variable or function
            }
          }]
        });
      },
      // Finalize the transaction after payer approval
      onApprove: (data, actions) => {
        return actions.order.capture().then(function(orderData) {
          // Successful capture! For dev/demo purposes:
          console.log('Capture result', orderData, JSON.stringify(orderData, null, 2));
          const transaction = orderData.purchase_units[0].payments.captures[0];
          alert(`Transaction ${transaction.status}: ${transaction.id}\n\nSee console for all available details`);
          // When ready to go live, remove the alert and show a success message within this page. For example:
          // const element = document.getElementById('paypal-button-container');
          // element.innerHTML = '<h3>Thank you for your payment!</h3>';
          // Or go to another URL:  actions.redirect('thank_you.html');
          window.location='book_appointment'
        });
      }
    }).render('#paypal-button-container');
  </script>
</body>
</html>